.loading{
    position: absolute;
    top: 50%;
    left: 30%;
    width: 500px;
    border: 2px solid blueviolet;
    height: 50px;
    border-radius: 30px;
    z-index: 2;
    padding: 2px;
}

.bar{
    border-radius: 30px;
    width: 500px;
    height: 50px;
    background-color: black;
    animation: anima;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes anima{
    from{width: 0px;}
    to{width: 500px;}
}